/* 根据body的class=dark */
body.dark {
  background-color: #1b1b1b;
  color: #fff;
}

body {
  margin: 0;
}

html {
  overflow: hidden;
}

.titlebar {
  user-select: none;
  -webkit-app-region: drag;
  
}
